.garland {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.garland-socket {
    position: absolute;
    top: 0;
    width: 1rem;
    height: 1rem;
    background-color: #000;
    border-radius: 0 0 30% 30%;
}

.garland-line {
    border-bottom: 2px solid #000;
    width: 10%;
    height: 1.5rem;
    position: absolute;
    border-radius: 0% 0% 50% 50%;
}

.garland-item {
    border: 1px solid #000;
    border-radius: 50%;
    width: 1rem;
    height: 2rem;
    position: absolute;
    top: .8rem;
    z-index: -1;
}

.garland-item:nth-child(1) {
    background-color: #31ffe7;
    box-shadow: 0rem 0rem 8rem 3rem #31ffe7;
    left: 10%;
}

.garland-item:nth-child(2) {
    background-color: hotpink;
    box-shadow: 0rem 0rem 8rem 3rem hotpink;
    left: 20%;
}

.garland-item:nth-child(3) {
    background-color: yellowgreen;
    box-shadow: 0rem 0rem 8rem 3rem yellowgreen;
    left: 30%;
}

.garland-item:nth-child(4) {
    background-color: #31ffe7;
    box-shadow: 0rem 0rem 8rem 3rem #31ffe7;
    left: 40%;
}

.garland-item:nth-child(5) {
    background-color: hotpink;
    box-shadow: 0rem 0rem 8rem 3rem hotpink;
    left: 50%;
}

.garland-item:nth-child(6) {
    background-color: yellowgreen;
    box-shadow: 0rem 0rem 8rem 3rem yellowgreen;
    left: 60%;
}

.garland-item:nth-child(7) {
    background-color: #31ffe7;
    box-shadow: 0rem 0rem 8rem 3rem #31ffe7;
    left: 70%;
}

.garland-item:nth-child(8) {
    background-color: hotpink;
    box-shadow: 0rem 0rem 8rem 3rem hotpink;
    left: 80%;
}

.garland-item:nth-child(9) {
    background-color: yellowgreen;
    box-shadow: 0rem 0rem 8rem 3rem yellowgreen;
    left: 90%;
}

.garland-item:nth-child(10) {
    background-color: #31ffe7;
    box-shadow: 0rem 0rem 8rem 3rem #31ffe7;
    left: 100%;
}



.garland-socket:nth-child(11) {
    left: calc(10% + 1px);
    background-color: #000;
}

.garland-socket:nth-child(12) {
    left: calc(20% + 1px);
    background-color: #000;
}

.garland-socket:nth-child(13) {
    left: calc(30% + 1px);
    background-color: #000;
}

.garland-socket:nth-child(14) {
    left: calc(40% + 1px);
    background-color: #000;
}

.garland-socket:nth-child(15) {
    left: calc(50% + 1px);
    background-color: #000;
}

.garland-socket:nth-child(16) {
    left: calc(60% + 1px);
    background-color: #000;
}

.garland-socket:nth-child(17) {
    left: calc(70% + 1px);
    background-color: #000;
}

.garland-socket:nth-child(18) {
    left: calc(80% + 1px);
    background-color: #000;
}

.garland-socket:nth-child(19) {
    left: calc(90% + 1px);
    background-color: #000;
}

.garland-socket:nth-child(20) {
    left: calc(100% + 1px);
    background-color: #000;
}



.garland-line:nth-child(21) {
    left: calc(0% + 0.52rem);
}

.garland-line:nth-child(22) {
    left: calc(10% + 0.52rem);
}

.garland-line:nth-child(23) {
    left: calc(20% + 0.52rem);
}

.garland-line:nth-child(24) {
    left: calc(30% + 0.52rem);
}

.garland-line:nth-child(25) {
    left: calc(40% + 0.52rem);
}

.garland-line:nth-child(26) {
    left: calc(50% + 0.52rem);
}

.garland-line:nth-child(27) {
    left: calc(60% + 0.52rem);
}

.garland-line:nth-child(28) {
    left: calc(70% + 0.52rem);
}

.garland-line:nth-child(29) {
    left: calc(80% + 0.52rem);
}

.garland-line:nth-child(30) {
    left: calc(90% + 0.52rem);
}