html {
    scroll-behavior: smooth;
}

.header {
    background-color: #808080; 
    color: aliceblue;
    padding: 3%;
    text-align: center;
    font-size: 30px;
}

.main {
    background-image: url("porsche-911-st3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
}

.interests {
    background-color: aliceblue;
    color: #808080;
    opacity: 60%;
    padding: 2%;
    text-align: center;
    margin-top: 50px;
    border-radius: 18px;
}

.title {
    text-align: center;
}
 